.create-user{
    text-align: center;
    margin: auto;
    width: 300px;
    padding: 50px;
    box-shadow: 0 0 10px black;
}
.create-user>h2{
    padding: 10px;
}
.create-user>input{
    margin: 10px;
    padding: 10px 20px;
}
.create-user>div{
    padding: 10px;
}
.create-user>div>input{
    margin: 5px;
}
.create-user>div>button{
    margin: 5px;
    padding: 5px 10px;
    border: none;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
.create-user>div>.create-btn{
    background-color: rgb(33, 95, 150);
}
.create-user>div>.get-data-btn{
    background-color: rgb(150, 60, 33);
}